@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-black-webfont.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold-webfont.woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/monumentextended-ultrabold-webfont.woff");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "Monument Extended";
  src: url("../fonts/monumentextended-regular-webfont.woff");
  font-weight: 400;
  font-style: normal; }
.header {
  min-width: 360px;
  width: 100%; }
  .header__top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__title {
    width: 100px;
    height: 480px;
    background: #D1152E;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .header__title h4 {
      margin-top: 97px;
      margin-left: 15px;
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .header__title p {
      margin-top: -12px;
      margin-left: 15px;
      font-family: Geometria;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: #FFFFFF; }
    .header__title h1 {
      margin-top: 78px;
      margin-left: 15px;
      width: 254px;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: 900;
      font-size: 37px;
      line-height: 37px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      position: relative;
      z-index: 20;
      position: relative; }
      .header__title h1::before {
        content: "01 /10";
        font-family: Monument Extended;
        font-style: normal;
        font-weight: 900;
        font-size: 11px;
        line-height: 16px;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        position: absolute;
        right: 96px;
        bottom: -28px; }
    .header__title h5 {
      margin-top: 132px;
      margin-left: 15px;
      font-family: Monument Extended;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF; }
    .header__title span {
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #FFFFFF; }
  .header__background-img {
    height: 520px;
    -o-object-fit: cover;
       object-fit: cover; }
  .header__top-info {
    width: 97px;
    height: 480px;
    background: #252222;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: relative; }
  .header__list {
    display: none; }
  .header__year {
    margin-top: 64px;
    margin-right: 15px;
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #787878; }
  .header__box {
    width: 44px;
    height: 240px;
    position: absolute;
    right: 7px;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__box-1 {
    width: 44px;
    height: 240px;
    position: absolute;
    right: 7px;
    margin-top: 20px;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .header__block {
    border: 1px solid #4C4C4C;
    width: 7px;
    height: 7px;
    -webkit-transition: 0.1s;
    transition: 0.1s; }
  .header__block:hover {
    background-color: #D1152E; }
  .header__block--red {
    background-color: #D1152E; }
  .header__box:hover .header__block--red {
    background-color: transparent; }

@media (min-width: 768px) {
  .header {
    min-width: 768px;
    width: 100%; }
    .header__title {
      width: 149px;
      height: 440px;
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; }
      .header__title h4 {
        margin-left: 40px; }
      .header__title p {
        margin-left: 40px; }
      .header__title h1 {
        margin-left: 40px;
        font-size: 80px;
        line-height: 80px;
        width: 504px; }
      .header__title h5 {
        margin-top: -20px;
        margin-left: 40px; }
    .header__background-img {
      height: 488px; }
    .header__top-info {
      width: 224px;
      height: 440px; }
    .header__list {
      display: block; }
    .header__ul {
      list-style-type: none; }
    .header__li {
      font-family: Geometria;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: #A7A7A7; }
    .header__box {
      display: none; }
    .header__box-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 180px;
      height: 45px; } }
body {
  font-family: "Geometria", "montserrat", "Monument Extended"; }

.main {
  min-width: 360px;
  width: 100%;
  height: 507px;
  background: #151414;
  text-align: c;
  margin-top: -64px; }

.main-inner {
  max-width: 360px;
  width: 100%;
  margin: 0 auto; }

.main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  margin-left: 29px; }
  .main__top h4 {
    display: block;
    margin-top: 73px;
    font-family: Monument Extended;
    font-style: normal;
    font-weight: 900;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF; }
  .main__top h3 {
    display: block;
    width: 127px;
    margin-top: 119px;
    margin-left: 23px;
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF; }
  .main__top .main__ul {
    margin: 0;
    margin-left: 52px;
    margin-top: 19px;
    padding: 0;
    list-style: none;
    color: #A7A7A7; }
  .main__top .main__li {
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    text-transform: uppercase; }
  .main__top .main__li--last {
    margin-top: 18px;
    color: #FFFFFF; }

.main__bottom {
  margin-left: 29px; }
  .main__bottom p {
    width: 248px;
    display: block;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A7A7A7;
    margin-top: 14px;
    margin-left: 2px; }
  .main__bottom a {
    margin-left: 72px;
    margin-top: 21px;
    display: block;
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF; }
  .main__bottom span {
    margin-left: 72px;
    margin-top: 10px;
    display: block;
    width: 227px;
    font-family: Geometria;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A7A7A7; }

/*# sourceMappingURL=style.css.map */