@import "mixins"
@import "fonts"
@import "vars"

.header
    min-width: 360px
    width: 100%
    background: #151414
    position: relative
    &__top
        width: 100%
        display: flex
        justify-content: space-between
    &__shadow-block-h4
        width: 100px   
        overflow: hidden    
    &__shadow-block-h6
        width: 189px
        position: absolute
        bottom: 139px
        overflow: hidden
        height: 32px
    &__shadow-block-h5
        width: 80px   
        height: 100px
        position: relative
        overflow: hidden
        top: 267px
        left: 16px
    &__title
        width: 100px
        height: 480px
        background: #D1152E
        flex-grow: 1    
        position: relative
        z-index: 1
        animation: scale-up-hor-left .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
        h4
            margin: 97px 0 0 15px
            font-family: $Geometria
            font-size: 12px
            line-height: 1.4
            text-transform: uppercase
            display: block
            color: $white  
        p
            margin: 4px 0 0 16px
            font-family: $Geometria
            font-weight: bold
            font-size: 11px
            line-height: 1.5
            letter-spacing: 0.05em
            color: $white                        
        h5
            font-family: $Monument
            font-size: 11px
            line-height: 1.5
            letter-spacing: 0.1em
            text-transform: uppercase
            color: $white
        span
            color: transparent
            -webkit-text-stroke-width: 1.5px
            -webkit-text-stroke-color: $white
        h6
            content: '01 /10' 
            font-family: $Monument
            font-weight: 900
            font-size: 11px
            line-height: 1.5
            text-align: right
            letter-spacing: 0.05em
            color: $white
            margin: 4px 16px 0 0
    &__h2
        width: 233px
        margin-left: 15px
        font-family: $Monument
        font-weight: 900
        font-size: 37px
        line-height: 1
        letter-spacing: 0.1em
        color: $white
        position: relative
        z-index: 20  
        top: 232px
    &__h3
        margin-left: 15px
        font-family: $Monument
        font-weight: 900
        font-size: 37px
        line-height: 1
        letter-spacing: 0.1em
        color: $white
        z-index: 20  
        position: relative
        top: 0px
    &__slider
        display: flex
        width: 297px
        height: 70px
        position: absolute
        top: 227px
    &__h2-second
        width: 233px
        font-family: $Monument
        font-weight: 900
        font-size: 37px
        line-height: 1
        letter-spacing: 0.1em
        color: $white
        position: absolute
        z-index: 20
        margin-left: 15px
        top: 35px
    &__shadow-block-h2
        overflow: hidden
        height: 300px
        position: absolute
        top: -36px
    &__background-img
        height: 520px
        object-fit: cover  
        transition: 2s 
        animation: scale-up-hor-left-image  .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both    
    &__top-info
        width: 97px
        height: 480px
        background: #252222
        flex-grow: 1
        position: relative  
        overflow: hidden
        animation: scale-up-hor-left .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both      
    &__list
        display: none
        width: 127px
        overflow: hidden
    &__ul 
        position: relative
    &__shadow-block-year
        width: 83px
        height: 16px
        margin: 64px 15px 0 0
        overflow: hidden
    &__year
        font-family: $Monument
        font-size: 11px
        line-height: 1.5
        text-align: right
        letter-spacing: 0.05em
        color: #787878
    &__box
        width: 37px
        height: 244px
        position: absolute
        right: 15px
        margin-top: 20px
        border-collapse: collapse  
        &::before
            @include table-dark-block
            left: -5px
            top: -1px
            animation: push-left .9s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both      
    &__box-1
        width: 44px
        height: 240px
        position: absolute
        right: 7px
        margin-top: 20px
        display: none
        border-collapse: collapse  
        &::before
            @include table-dark-block
            top: -1px
            animation: push-left-1 .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both       
    &__box-2
        position: absolute
        right: 7px
        margin-top: 20px
        display: none
        border-collapse: collapse    
        &::before
            @include table-dark-block
            top: -1px
            animation: push-left-1 .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both          
    &__box-3
        width: 44px
        height: 240px
        position: absolute
        right: 7px
        margin-top: 20px
        display: none
        border-collapse: collapse   
        &::before
            @include table-dark-block
            top: -1px
            animation: push-left-2 .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both               
    &__box-4
        width: 379px
        height: 109px
        position: absolute
        right: 238px
        margin-top: 35px
        display: none
        border-collapse: collapse  
        &::before
            @include table-dark-block
            top: -1px
            animation: push-left-2 .5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both               
    &__block
        border: 1px solid #4C4C4C
        width: 6px
        height: 6px
        transition: .1s 
        outline: none
.header__block:hover
    background-color: $red
.header__block:focus
    background-color: $red
.header__block--red
    background-color: $red
    transition: .1s  
.header__box:hover .header__block--red
    background-color: transparent
    transition: .3s  
.header__box-1:hover .header__block--red
    background-color: transparent
    transition: .3s  
.header__box-2:hover .header__block--red
    background-color: transparent
    transition: .3s  
.header__box-3:hover .header__block--red
    background-color: transparent
    transition: .3s  
.header__box-4:hover .header__block--red
    background-color: transparent
    transition: .3s  
.header__block--red:hover
    background-color: $red
    outline: none

@media ( min-width: 375px )
    .header
        &__shadow-block-year 
            width: 92px
@media ( min-width: 425px ) 
    .header
        &__shadow-block-year 
            width: 117px
@media ( min-width: 768px )
    .header
        min-width: 768px
        width: 100%
        &__shadow-block-year
            width: 184px
            height: 80px
            margin: 16px 15px 0 0
            overflow: hidden
            position: relative 
        &__title
            width: 149px
            height: 440px
            flex-grow: 1
            h4
                margin: 90px 0 0 40px
            p
                margin-left: 40px 
            h5  
                margin: 69px 0 0 61px
        &__h2
            margin-left: 40px
            font-size: 80px
            line-height: 1
            width: 504px
            letter-spacing: 0px
            top: 157px
            span
                margin-left: -24px
        &__slider
            width: 600px
            height: 88px
            top: 257px
        &__h3
            font-size: 80px
            line-height: 1
            letter-spacing: 0px
            top: -74px        
            margin-left: 40px    
        &__shadow-block-h4
            width: 135px
        &__background-img
            height: 488px
        &__top-info
            width: 224px
            height: 440px
        &__list
            display: block
        &__ul
            list-style-type: none
            margin: 41px 0 0 -21px
        &__li
            @include list()
            font-size: 12px
            line-height: 1.5             
        &__year
            margin: 17px 2px 0 0     
        &__box-1
            left: 0px
            margin-top: -32px
            width: 181px
            height: 46px
            display: block
        &__box
            display: none
        &__shadow-block-h5
            width: 140px
            top: 190px
            left: 0px
        &__shadow-block-h5
            top: 190px 
            left: 0px
        &__shadow-block-h6
            right: -480px
            bottom: 69px
        &__shadow-block-h2
            top: -40px
@media ( min-width: 960px )
    .header
        min-width: 960px
        &__title
            width: 172px
            height: 480px
            flex-grow: 1
            h4 
                margin: 112px 0 0 14px
            p
                margin: 1px  0 0 15px
            h5
                margin: 9px 0 0 39px
        &__h2
            font-size: 98px
            line-height: 1

            width: 680px

            margin-left: 12px
            top: 111px
            span 
                margin-left: -28px
        &__h3
            font-size: 98px
            line-height: 1
            margin-left: 15px
            top: -82px
        &__slider
            width: 700px
            height: 115px
        &__li
            font-size: 0.78rem
            line-height: 1.5   
        &__box-2
            margin-top: -30px
            left: 0px 
        &__shadow-block-h2
            top: -13px
        &__shadow-block-h2
            top: -12px
            height: 290px
        &__shadow-block-h6 
            right: -624px
            bottom: 76px
        &__background-img
            height: 540px
        &__top-info
            width: 297px
            height: 480px
        &__year
            margin: 20px 2px 0 0
        &__ul
            margin-top: 39px
            margin-left: -16px
        &__box-1
            display: none   
            left: 0px
        &__box-2
            display: block        
        &__shadow-block-h4 
            width: 160px
        &__shadow-block-h5
            top: 287px
            width: 151px
        &__shadow-block-year
            width: 246px
            height: 80px
@media ( min-width: 1024px )
    .header
        &__box-1
            display: none
        &__box-2
            display: flex
            width: 244px
            left: 0px 
        &__shadow-block-h6 
            right: -625px
            bottom: 76px
        &__title
            width: 187px
            h4
                margin: 110px 0 0 44px
            p
                margin: 1px 0 0 45px
            h5
                margin-left: 71px
        &__shadow-block-h4 
            width: 185px
        &__shadow-block-h5
            top: 289px
        &__h2
            margin-left: 42px
        &__h3
            margin-left: 44px
        &__slider 
            width: 720px
        &__ul
            margin-left: -15px
        &__year 
            left: 286px
@media ( min-width: 1280px )
    .header
        min-width: 1280px
        &__title
            width: 282px
            height: 590px
            flex-grow: 1
            h4
                margin: 117px 0 0 130px
                font-size: 14px
                line-height: 1.2
            p
                margin: 6px 0px 0px 131px
                font-size: 12px
                line-height: 1.3
            h5  
                margin: 54px 0px 0px 131px
                font-size: 12px
                line-height: 1.3
        &__h2
            margin-left: 99px
            font-size: 115px
            line-height: 1
            top: 86px
            span
                margin-left: -34px
        &__title h6 
            top: -11px
            left: 193px
        &__h3
            font-size: 115px
            line-height: 1
            top: -25px
            margin-left: 98px
        &__slider
            width: 900px
            height: 200px
        &__shadow-block-h2 
            top: 56px
        &__shadow-block-h4 
            width: 280px
        &__shadow-block-h5 
            top: 336px
            width: 248px
        &__shadow-block-year
            width: 320px
        &__year 
            left: 352px
            top: 0px
            font-size: 12px
            line-height: 1.3
            margin: 33px 3px 0 0
        &__background-img
            width: 673px
            height: 680px
        &__picture
            flex-grow: 0
        &__top-info
            width: 413px
            height: 590px
            flex-grow: 1
        &__ul
            margin: 36px 0 0 -7px
        &__li
            font-size: 14px
            line-height: 1.6
        .header__box-1
            display: none
        .header__box-2
            display: none
            left: 0px 
        &__box-3
            display: flex
            width: 316px
            height: 82px
            left: 0px 
            margin-top: 13px
        &__shadow-block-h6 
            right: -771px
            bottom: 116px
@media ( min-width: 1366px )
    .header
        min-width: 1366px
        &__title
            width: 281px
            height: 590px
            flex-grow: 1
            h4
                margin: 118px ​0 0 131px
                font-size: 14px
                line-height: 1.1
            p
                margin: 7px 0 0 133px
                font-size: 12px
                line-height: 1.1          
                span
                    margin-left: -34px
            h5
                margin: 56px 0 0 132px
                font-size: 12px
                line-height: 1.1             
        &__shadow-block-h4 
            width: 279px
        &__shadow-block-h2 
            top: 57px
        &__h2
            margin-left: 99px
            font-size: 115px
            line-height: 1
        &__shadow-block-h5
            width: 220px
        &__background-img
            width: 673px
            height: 680px
        &__picture
            flex-grow: 0
        &__top-info
            width: 413px
            height: 590px
            flex-grow: 1
        &__shadow-block-year 
            width: 320px
        &__year
            left: 353px
            top: 0px
            font-size: 12px
            line-height: 1.3
            margin: 33px 4px 0 0 
        &__ul
            margin: 36px 0 0 -7px
        &__li
            font-size: 14px
            line-height: 1.6
        &__box-1
            display: none
        &__box-2
            display: none
        &__box-3
            display: flex
            width: 316px
            height: 82px
            left: 0px 
            margin-top: 13px
@media ( min-width: 1400px )
    .header
        min-width: 1400px
        &__shadow-block-h4
            width: 288px
        &__title
            h4
                margin-left: 148px
            p
                margin-left: 148px
            h1
                margin-left: 115px
            h5
                margin: 58px 0 0 148px
        &__top-info
            width: 413px
            height: 590px
        &__year
            margin: 33px 5px 0 0
        &__box-3
            left: 0px 
        &__shadow-block-h5 
            width: 235px
        &__h2 
            margin-left: 115px
        &__h3
            margin-left: 115px
        &__slider
            width: 915px
@media ( min-width: 1920px )   
    .header       
        &__shadow-block-h4
            width: 421px
        &__title
            width: 467px
            height: 782px
            h4
                margin: 250px 0px 0px 255px
                font-size: 16px
            p
                margin: 6px 0px 0px 255px
            h5 
                margin: 85px 0px 0px 295px
        &__h2
            margin-left: 255px
            font-size: 150px
            line-height: 0.9
            width: 856px
            top: 38px
            span 
                margin-left: -45px
        &__shadow-block-h2
            top: 184px 
        &__h3
            margin-left: 255px
            font-size: 150px
            line-height: 0.9
        &__slider 
            width: 1292px
            height: 250px
            top: 352px
        &__shadow-block-h5 
            width: 86%
            top: 355px
        &__shadow-block-h6 
            right: -934px
            bottom: 146px
        &__background-img
            width: 830px
            height: 883px
        &__top-info
            width: 635px
            height: 782px
        &__ul 
            margin: 111px 0px 0px 0px
        &__li 
            font-size: 16px
            line-height: 24px
        &__shadow-block-year 
            width: 387px
        &__year 
            margin: 60px 6px 0 0 
        &__box-3
            display: none
        &__box-4
            display: flex
            left: 0px 
            margin-top: 31px
