@media ( min-width: 768px )
    .header
        min-width: 768px
        width: 100%
        &__title
            width: 149px
            height: 440px
            flex-grow: 0
            h4
                margin-left: 40px
            p
                margin-left: 40px
            h1
                margin-left: 40px
                font-size: 80px
                line-height: 80px
                width: 504px
            h5  
                margin-top: -20px
                margin-left: 40px
        &__background-img
            height: 488px
        &__top-info
            width: 224px
            height: 440px
        &__list
            display: block
        &__ul
            list-style-type: none
        &__li
            font-family: Geometria
            font-style: normal
            font-weight: normal
            font-size: 12px
            line-height: 18px
            text-transform: uppercase
            color: #A7A7A7
        &__box
            display: none
        &__box-1
            display: flex
            width: 180px
            height: 45px