$font-family-primary: 'Geometria', sans-serif
$font-family-secondary: 'Monument Extended', sans-serif

$palette-primary: #FFFFFF
$palette-secondary: #D1152E
$palette-paragraph: #A7A7A7
$palette-table: #4C4C4C
$big-block: #4B4B4B
$mini-block: #808080
$text-menu: #000000